<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<<<<<<< HEAD
    <titl>Book Store</title>
</head>
<body>
    Before
    <br>
 <%- body %>

    <br>
    After
=======
    <title>Layouts</title>
</head>
<body>
Before  
<br>
<%- body %>
<br>
 After   
>>>>>>> setting_up_server
</body>
</html>